In [1]:
import pandas as pd
import numpy as np

In [2]:
import sys
sys.path.append('/home/scube_dev')

In [3]:
import open_data_sciences

In [4]:
import open_data_sciences
import open_data_sciences.common_utils

In [5]:
db_path = 'sqlite:////home/scube_dev/scflex/Scflex-master/Scflex/bin/tmp_db/temp.db'
conn_str = db_path

In [6]:
engine, conn = open_data_sciences.common_utils.connect_sql_server(conn_str)

In [7]:
df = pd.read_sql('test_spec', conn)

In [8]:
conf_path = '/home/scube_dev/open_data_sciences/tests/resources/test.yaml'

In [9]:
import importlib
importlib.reload(open_data_sciences)

In [10]:
init_handler = open_data_sciences.shorthand.ConfigurationHandler(source_type='yaml_file', source_path=conf_path)

In [13]:
init_handler.refresh()

In [14]:
from pyspark import SparkContext

In [15]:
appName = 'tester'

In [16]:
sc = SparkContext(appName=appName)

In [17]:
sc.applicationId

'local-1537584570816'

In [18]:
import logging

In [19]:
logger = logging.getLogger()

In [21]:
print('APP_ID: %s' % (sc.applicationId,))

APP_ID: local-1537584570816

In [22]:
sc.setSystemProperty

In [25]:
db_pars = {
  'host': 'localhost',
  'username'    : 'analytic_bot',
  'password'    : 'analyticpass',
  'cluster_url' : '127.0.0.1:27017',
  'database'    : 'Analytics',
  'authSource'  : 'admin'
}

In [26]:
open_data_sciences.common_utils.gen_mysql_url(db_pars)

'mysql+mysqldb://analytic_bot:analyticpass@localhost:3306/Analytics'

In [ ]:
cols = ['max_timeout', 'refresh_interval', 'hibernation_period', 'max_failure_n', 'min_repeat_interval', 'last_updated']

In [ ]:
dtypes = {
    'max_timeout': 'float64',
    'refresh_interval': 'float64',
    'hibernation_period': 'float64',
    'max_failure_n': 'int64',
    'min_repeat_interval': 'float64',
    'last_updated': 'np.datetime64'
}

In [ ]:
df.to_sql('test_spec', conn, if_exists='append')

In [ ]:
df

In [ ]:
cursor = conn.execute('SELECT max_timeout FROM test_spec')

In [ ]:
cursor.fetchall()

In [ ]:
b = pd.DataFrame(a, dtypes=p)

In [ ]:
b

In [ ]:
b.dtypes

In [37]:
df_test = pd.read_excel('test_pars.xlsx')

In [38]:
df_test['working_dir'] = '/home/scube_dev/working_dir/'

In [40]:
df_test['date_created'] = pd.to_datetime(df_test['date_created'])

In [42]:
import time

In [44]:
df_test['last_updated'] = time.time()

In [46]:
df_test.to_excel('test_pars.xlsx')

In [48]:
df_test.dtypes

status                  object
uuid                    object
name                    object
failure_n                int64
date_created    datetime64[ns]
last_updated           float64
priority_r             float64
working_dir             object
executable              object
cmd_args                object
stdout                  object
stderr                  object
timeout                float64
status_code            float64
cpu_time               float64
ram                    float64
log_path                object
dtype: object

In [ ]:
df_test['extra_args'] = np.nan

In [74]:
df_test.to_sql('task_table', con=conn, if_exists='append', index=None)

In [64]:
task_table_name = 'hello world'

In [65]:
sql_cmd = 'SELECT * from {task_table_name} where (({cur_time} - last_updated) >= {min_repeat}) AND (status=="active");'

In [68]:
pd

In [75]:
cmd = 'SELECT * from task_table limit 5'

In [80]:
_df = pd.read_sql_query(cmd, con=conn)

In [81]:
_df

,status,uuid,name,failure_n,date_created,last_updated,priority_r,working_dir,executable,cmd_args,stdout,stderr,timeout,status_code,cpu_time,ram,log_path,extra_args
0,active,60bf2ac6-be32-11e8-9d91-d3f1414aa449,Job_001,0,2018-09-22 00:00:00.000000,1.537601e+09,1.1,/home/scube_dev/working_dir/,/bin/ls,-lrvt /home/scube_dev/open_data_sciences,this is a string,this is another string,0.0,0.0,0.12,0.56,/home/scube_dev/working_dir/logs/cmd_1.log,None
1,None,6147f5e0-be32-11e8-8ad6-bf2313722c18,None,0,2018-09-22 00:00:00.000000,1.537601e+09,1.0,/home/scube_dev/working_dir/,/bin/ls,-lrvt /home/scube_dev/open_data_sciences,None,None,NaN,NaN,NaN,NaN,/home/scube_dev/working_dir/logs/cmd_2.log,None
2,None,65ad8e74-be32-11e8-aa49-430eb3a34f47,None,0,2018-09-22 00:00:00.000000,1.537601e+09,1.0,/home/scube_dev/working_dir/,/bin/ls,-lrvt /home/scube_dev/open_data_sciences,None,None,NaN,NaN,NaN,NaN,/home/scube_dev/working_dir/logs/cmd_3.log,None
3,None,65ebf2cc-be32-11e8-8d08-f3728e6e4d67,None,0,2018-09-22 00:00:00.000000,1.537601e+09,1.0,/home/scube_dev/working_dir/,/bin/ls,-lrvt /home/scube_dev/open_data_sciences,None,None,NaN,NaN,NaN,NaN,/home/scube_dev/working_dir/logs/cmd_4.log,None
4,None,66276712-be32-11e8-9a75-13b88083fa99,None,0,2018-09-22 00:00:00.000000,1.537601e+09,1.0,/home/scube_dev/working_dir/,/bin/ls,-lrvt /home/scube_dev/open_data_sciences,None,None,NaN,NaN,NaN,NaN,/home/scube_dev/working_dir/logs/cmd_5.log,None

In [90]:
def func_executor(program_pars):
	# get hostname of the node which is assigned the task
	_hostname = socket.gethostname()

	# check time-out
	timeout = program_pars['timeout'] if 'timeout' in program_pars.keys() else max_timeout
	timeout = min(timeout, max_timeout)

	# start building command line
	working_dir = program_pars['working_dir']
	exe_path    = program_pars['executable']
	cmd_args    = program_pars['cmd_args']
#	cmd = exe_path + ' ' + list2arg(cmd_args)
	cmd = exe_path + ' ' + cmd_args # TODO: safer way of doing this?

	# run the executable through shell
	response = {'hostname': _hostname, 'start_time': time.time()}
	start_time = time.time()
	try:
		response.update(shell_run_cmd(cmd, timeout_sec = timeout, cwd=working_dir))
	except Exception, e:
		response.update({
		  'stdout' : '',
		  'stderr' : repr(e),
		  'timeout': False,
		  'status' : 'failed',
		  'status_code': -1,
		  'info': {
		    'cpu_time': 0,
		    'ram'     : 0
		  }
		}) # end output
	# end try

	# collect status and time information
	if response['timeout'] == True:
		response['stderr'] += '\ntime-out error'
	# end if

	return response
# end def

SyntaxError: invalid syntax (<ipython-input-90-96487447c308>, line 21)

In [86]:
_df['executable']

0    /bin/ls
1    /bin/ls
2    /bin/ls
3    /bin/ls
4    /bin/ls
Name: executable, dtype: object

In [88]:
_df['cmd_args']

0    -lrvt /home/scube_dev/open_data_sciences
1    -lrvt /home/scube_dev/open_data_sciences
2    -lrvt /home/scube_dev/open_data_sciences
3    -lrvt /home/scube_dev/open_data_sciences
4    -lrvt /home/scube_dev/open_data_sciences
Name: cmd_args, dtype: object

In [ ]:
shell_run_cmd